<div class="loadmore-btn-wrapper">
  <button class="loadmore-btn">さらに表示</button>
</div>
<div class="page-load-status" style="display: none;">
  <div class="infinite-scroll-request">
    <div class="loader-ellips">
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
      <span class="loader-ellips__dot"></span>
    </div>
  </div>
</div>