<% breadcrumb :user, @user %>
<%= render 'devise/shared/breadcrumbs', breadcrumbs: breadcrumbs %>
<%= render 'profile', user: @user %>

<section id="work">
  <ul class="tabs-nav">
    <li><a href="#test-swipe-1">投稿一覧</a></li>
    <li><a href="#test-swipe-2">いいね一覧</a></li>
  </ul>
  
  <div id="test-swipe-1" class="tabs-panel">
    <div class="row">
      <%= render 'posts/posts_show', posts: @posts %>
    </div>
  </div>
  <div id="test-swipe-2" class="tabs-panel">
    <div class="row">
      <%= render 'posts/posts_show', posts: @favo_posts %>
    </div>
  </div>
</section>






