<div class="posts-container">
  <% posts.each do |post| %>
    <div class="posts-wrapper">
      <%= render 'posts/post_contents', post: post %>
    </div>
  <% end %>
  <%= paginate posts %>
</div>
<%= render 'devise/shared/infinitescroll' %>