<div class="posts-show-container">
  <% posts.each do |post| %>
    <div class="posts-show-wrapper">
      <%= render 'posts/post_contents', post: post %>
    </div>
  <% end %>
  <%= paginate posts %>
</div>