.post-detail-container{
  width: 70%;
  margin: 3% auto;
  border: 1px solid black;
  .post-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    .left{
      width: 55%;
      margin: 1%;
      .user-info{
        display: flex;
        align-items: center;
        height: 70px;
        .user-icon{
          height: 90%;
          width: (100*0.9)px;
          .user-image{
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
          }
        }
        .user-name{
          margin-left: 2%;
        }
      }
      .post-image-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 400px;
        margin-top: 2%;
        .post-image{
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .right{
      width: 40%;
      ul{
        margin-top: 80px;
        list-style: none;
        width: 90%;
        li{
          border-bottom: 1px solid #dddddd;
          margin: 7% 1%;
          word-wrap: break-word;
          .fa-location-arrow, .fa-clock{
            margin-right: 3%;
          }
        }
      }
      .content{
        display: flex;
        align-items: center;
        .content-left{
          margin-right: 3%;
        }
        .fa-commenting{
          font-size: 1.4rem;
        }
      }
    }
    .comment-form-wrapper{
      margin-top: 40px;
      .comment-btn{
        display: none;
      }
    }
  }
}

.comment-form{
  position: relative;
  width: 90%;
  .text_area{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 2%;
    &:focus{
      outline: none;
      border-bottom: 2px solid orange;
      & ~ label{
        color: orange;
      }
    }
  }
  label{
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 0.8rem;
    color: #888888;
  }
}

.comment-container{
  p.title{
    color: rgba(136, 136, 136, 0.7);
    margin: 2%;
  }
  width: 100%;
  .comment-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 1% 2%;
    height: 150px;
    width: 90%;
    .left{
      width: 10%;
      text-align: center;
      .user-icon{
        width: auto;
        height: 60%;
        .user-image{
          max-width: 100%;
          max-height: 100%;
          border-radius: 50%;
        }
      }
    }
    .right{
      width: 80%;
      height: 100%;
      position: relative;
      p.content{
        margin-top: 1%;
        word-wrap: break-word;
      }
      .time{
        position: absolute;
        bottom: 3%;
        right: 1%;
      }
    }
  }
}

@media (max-width: 1500px){
  .post-detail-container{
    width: 90%;
    .post-wrapper .left .post-image-wrapper{
      height: 320px;
    }
  }
}

@media (max-width: 1200px){
  .post-detail-container{
    width: 90%;
    .post-wrapper .left .post-image-wrapper{
      height: 270px;
    }
  }
}

@media (max-width: 800px){
  .post-detail-container{
    width: 90%;
    font-size: 0.9rem;
    .post-wrapper{
      display: block;
      .left{
        width: 95%;
        margin: 1% auto 0;
        .post-image-wrapper{
          width: 100%;
          height: 300px;
          max-height: 600px;
          margin-top: 2%;
        }
      }
      .right{
        width: 90%;
        margin: 1% auto;
        ul{
          width: 100%;
          li{
            margin: 4% 1%;
            word-wrap: break-word;
          }
        }
      }
    }
  }
  .comment-container{
    font-size: 0.9rem;
    p.title{
      color: rgba(136, 136, 136, 0.7);
      margin: 2%;
    }
    width: 100%;
    .comment-wrapper{
      font-size: 0.8rem;
      display: flex;
      justify-content: space-between;
      margin: 1% 2%;
      height: 150px;
      width: 90%;
      .left{
        width: 25%;
        text-align: center;
        .user-icon{
          width: auto;
          height: 60%;
          .user-image{
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
          }
        }
      }
      .right{
        width: 65%;
        height: 100%;
        position: relative;
        p.content{
          margin-top: 1%;
          word-wrap: break-word;
        }
        .time{
          position: absolute;
          bottom: 20%;
          right: 1%;
        }
      }
    }
  }
  
}