.inn-container{
  width: 70%;
  margin: 2% auto;
  .title-address{
    p{
      color: black;
      font-size: 24px;
    }
    span{
      font-weight: bold;
    }
  }
  
  .inn-wrapper{
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px #8c8041 inset;
    background-color: #fff8cf;
    margin: 4% 0;
    display: flex;
    justify-content: space-between;
    height: 360px;
    .left{
      width: 30%;
      margin: 5px 2%;
      img{
        width: 250px;
        height: 170px;
      }
    }
    .right{
      width: 62%;
      margin: 1% 2%;
      .nav-link{
        color: rgb(0, 170, 255);
      }
      h2{
        margin-bottom: 10px;
      }
      .information{
        .column{
          display: flex;
          justify-content: space-between;
          margin-bottom: 1%;
          .first{
            width: 15%;
            font-weight: bold;
          }
          .second{
            width: 80%;
          }
        }
      }
      .add-info{
        margin-top: 15px;
      }
    }
  }
}

@media (max-width: 1200px){
  .inn-container{
    width: 95%;
  }
}

@media (max-width: 900px){
  .inn-container{
    .title-address{
      p{
        font-size: 18px;
      }
    }
    .inn-wrapper{
      flex-direction: column;
      height: auto;
      margin: 6% 0;
      .left{
        order: 2; 
        width: 96%;
        text-align: center;
        img{
          width: 320px;
          height: 240px;
        }
      }
      .right{
        order: 1;
        width: 96%;
      }
    }
  }
}