.notification-container{
  width: 50%;
  margin: 1% auto;
  .notification-head{
    margin-bottom: 3%;
  }
  .notification-wrapper{
    display: flex;
    align-items: center;
    .user-detail{
      display: flex;
      align-items: center;
      .img{
        border-radius: 50%;
        margin: 2px;
      }
    }
    .nav-link{
      color: rgb(0, 170, 255);
    }
  }
}