$follow: rgb(0, 170, 255);
.user-detail-wrapper{
  width: 60%;
  margin: 2% auto;
  border: 1px solid black;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  .user-detail{
    display: flex;
    justify-content: space-between;
    width: 100%;
    &-left{
      width: 25%;
      text-align: center;
      padding: 1%;
      .user-image-circle{
        border-radius: 50%;
        object-fit: cover;
      }
    }
    &-right{
      width: 50%;
      ul{
        width: 70%;
        list-style: none;
        border-bottom: 1px solid #330000;
        margin: 2% 0;
        li{
          display: inline-block;
          margin-right: 3%;
          span:hover{
            border-bottom: 1px solid black;
          }
          .btn{
            border: none;
            margin-bottom: 2px;
          }
          .follow-btn{
            padding: 1% 2%;
            background-color: white;
            color: $follow;
            border: 2px solid $follow;
            border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
          }
          .unfollow-btn{
            padding: 1% 2%;
            background-color: $follow;
            color: white;
            border: 2px solid $follow;
            border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
          }
        }
      }
      div.border{
        margin: 2% 0;
        width: 70%;
        border-bottom: 1px solid #330000;
      }
      .edit-button{
        text-align: right;
        margin-right: 30%;
        .nav-link{
          color: $follow;
        }
      }
      p.note{
        color: red;
        font-size: 0.8rem;
        word-wrap: break-word;
      }
    }
  }
}

@media (max-width: 1200px){
  .user-detail-wrapper{
    width: 90%;
  }
}

@media (max-width: 900px){
  .user-detail-wrapper{
    width: 95%;
    .user-detail{
      &-left{
        width: 30%;
      }
      &-right{
        width: 65%;
        ul{
          width: 90%;
        }
        div.border{
          width: 90%;
        }
      }
    }
  }
}
