.slideshow{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  .slider-image{
    opacity: 0.8;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    position: relative;
  }
  .slider-text {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 2.0rem;
    color: #888888;
    display: none;
  }
}

@media (max-width: 1000px){
  .slideshow{
    height: 300px;
  }
}